.body {
    padding: 5% 0;
    justify-items: center;
    text-align: center;
    position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    margin: 51px;
    margin-left: 0px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes myAnimation {
    0% {
        scale: 0;
    }

    60% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container img {
    animation: myAnimation 0.77s 1;
    width: 300px;
    height: 300px;
    margin-right: 4vw;
    margin-top: 12vh;
    border: 2px solid salmon;
    border-radius: 50%;
}

.title {
    color: var(--title);
    margin-right: 5vw;
    margin-top: 20px;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    position: absolute;
    right: 0%;
}

.subTitle {
    color: rgb(161, 161, 170);
    margin-top: 50px;
}

.hi {
    display: flex;
    margin-left: 4vw;
    margin-top: 30px;
    gap: 15px;
    position: absolute;
    right: 0%;
    margin-right: 5vw;
    top: 650px;
}

.icon-twitter,
.icon-instagram,
.icon-github,
.icon-linkedin-square {
    font-size: 2rem;
    color: rgb(161, 161, 170);
    cursor: pointer;
    transition: all 0.3s ease;
    list-style: none;
    margin-top: 50px;
}

.hi li:hover {
    color: rgb(141, 141, 150);
    transform: scale(105%);
}

.subTitleContainer {
    width: 35.42vw;
    display: flex;
    margin-top: 50px;
    margin-right: 5vw;
    text-align: justify;
    direction: rtl;
    position: absolute;
    right: 0%;
}

.all {
    display: flex;
}

.animHold {
    display: flex;
    width: 40%;
}

.animation {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    height: fit-content;
}

.hi a {
    text-decoration: none;
}

.img {
    position: absolute;
    width: 600px;
    height: 600px;
    margin-left: 3vw;
    margin-top: 10vh;
}

@media(max-width:1950px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 80px;
    }
}

@media(max-width:1700px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 100px;
    }
}

@media(max-width:1338px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 150px;
    }
}

@media(max-width:1200px) {
    .img {
        display: none;
    }
}

@media(max-width:1000px) {
    .subTitleContainer {
        width: 70vw;
    }
}

@media(max-width:600px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 130px;
    }
}

@media(max-width:505px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 170px;
    }
}

@media(max-width:475px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 200px;
    }
}

@media(max-width:455px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 220px;
    }
}

@media(max-width:334px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 270px;
    }
}

@media(max-width:300px) {

    .icon-twitter,
    .icon-instagram,
    .icon-github,
    .icon-linkedin-square {
        margin-top: 300px;
    }
}

.subTitle2 {
    margin-top: 200px;
}
