.body{
    padding: 5% 0;
    justify-items: center;
    text-align: center;
    position: relative;
}
.tooltip {
    position: relative;
    display: inline-block;

	
  }
  
  .tooltip .tooltiptext {
    margin: 51px;
    margin-left: 0px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
