.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    margin: 51px;
    margin-left: 0px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
header {
    border-bottom: 3px solid rgb(00, 70, 200);
    justify-content: right;
    width: 100%;
    background-color: #333333;
    z-index: 999;
    display: flex;
}

header * {
    color: white;
}

.items_container {
    margin-right: 100px;
    display: flex;
}

.item {
    transition: 0.1s ease-in;
    margin: 20px;
}

.item:hover {
    transform: scale(1.1);
}

.logo {
    margin-left: 2px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .item {
        margin: 10px;
    }

    .items_container {
        margin-right: 5px;
    }

    header {
        position: relative;
    }

    .logo {
        margin-top: 20px;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        display: none;
    }
}
