.page-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
}

.main-body {
    color: black;
    height: 100%;
    overflow-y: scroll;
}
